@model InfSystemWebApplication.Models.Employee

@{
    ViewBag.Title = "Удалить данные о сотруднике";
}

<h2>Удалить данные о сотруднике</h2>

<h3>Вы уверены, что хотите удалить данную запись?</h3>
<div>
    <h4>Сотрудник</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.View)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.View)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntranceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntranceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveDate)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "Employees", new { id = Model.Id, returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("К списку сотрудников", "Index") |
            @Html.ActionLink("К поиску по сотрудникам", "Query")
        </div>
    }
</div>
